<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href=<%= user_dashboard_path %> class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <%= image_tag("/assets/date-night-logo.png", size: 80) %>
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      </ul>
      <ul class="nav nav-underline">
        <li>
          <a class="nav-link link-body-emphasis px-2" href=<%= places_path %>>Explore Places</a>
        </li>
        <li>
          <a class="nav-link link-body-emphasis px-2" href=<%= appointments_path %>>Your Dates</a>
        </li>
        <li>
          <%= link_to "Favorites", favorites_path, class: "nav-link link-body-emphasis px-2" %>
        </li>
        <li>
          <%= link_to "Logout", session_path(current_user), method: :delete, class: "nav-link link-body-emphasis px-2" %>
        </li>
        </ul>
      </ul>
    </div>
  </div>
</header>