<div class="container">
  <br>
  <h1>Create a New Date</h1>
  <br>
  <div id="new_appointment_form">
    <%= form_with url: appointments_path, method: :post, local: true do |f| %>
      <div class="mb-3">
        <%= f.label :name, "Name:", { class: "form-label" } %>
        <%= f.text_field :name, { class: "form-control" } %>
      </div>

      <div class="mb-3">
        <%= f.label :place_name, "Place:", { class: "form-label" } %>
        <%= f.text_field :place_name, { class: "form-control" } %>
      </div>

      <div class="mb-3">
        <%= f.label :date, "Date:", { class: "form-label" } %>
        <%= f.date_field :date, data: {provide: "datepicker"}  %>
      </div>

      <div class="mb-3">
        <%= f.label :time, "Start Time of Date", { class: "form-label" } %>
        <%= f.time_field :time %>
      </div>

      <div class="mb-3">
        <%= f.label :notes, "Notes:", { class: "form-label" } %>
        <%= f.text_field :notes, { class: "form-control" } %>
      </div>

      <%= f.submit :'Create Date', { class: "btn btn-primary" } %>
    <% end %>
  </div>
</div>