<%= render "shared/navbar" %>

<div class="container">
  <% if @appointment.nil? %>
    <%= Page Not Found %>
  <% end %>

  <h1><%= @appointment.name %>'s Show Page</h1>
  <p><%= @appointment.place_name %></p>
  <p><%= @appointment.formatted_time %></p>
  <p><%= @appointment.formatted_date%></p>
  <p><%= @appointment.notes %></p>

  <% if @appointment.owner == current_user %> 
    <%= button_to "Edit", edit_appointment_path(@appointment), method: :get %>
  <% end %>
</div>